<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>AgriBots</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/fevicon.png') }}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesoeet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><img src="{{ url_for('static', filename='images/agribot.png') }}"></div>
            <div class="login_menu">
               <ul>
                  <li><a href="#">LOGIN</a></li>
                  <li><a href="#"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></a></li>
               </ul>
            </div>
         </nav>
         <!-- banner section end -->
            <div class="banner_section layout_padding">
               <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6">
                                 <h1 class="banner_taital">Dedicated<br> <span style="color: #fff;">to buidling agricultural solutions </span></h1>
                              </div>
                              
                           </div>
                           <div class="custum_menu">
                              <ul>
                                 <li><a href="index.html">Home</a></li>
                                 <li class="active"><a href="services.html">Blog & Recommendations</a></li>
                                 <li><a href="predict.html">Classify an image</a></li>
                                 <li><a href="about.html">About</a></li>
                                 <li><a href="contact.html">Contact us</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>                              
                  </div>     
               </div>
            </div>
         
         <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- choose section star -->
      <div class="choose_section layout_padding">
         <div class="container">
            <h1 class="choose_taital">Potato blight</h1>
            <p class="choose_section_2">Potato blight is a serious disease caused by a fungus called Phytopthera infestans. Its spores break away easily from an infected plant and are carried on the wind (as far as 30 miles) until they land on a susceptible plant.</p>
            <div class="row">
            <div class="col-md-5">
               <h2 class="active">Early blight</h2>
               <div class="image_7"><img src="{{ url_for('static', filename='images/earlyblight.jpeg') }}"></div>
           </div>
           <div class="col-md-5">
            <h2 class="active">Late blight</h2>
            <div class="image_7"><img src="{{ url_for('static', filename='images/lateblight.png') }}"></div>
         </div></div>
        
            <h2 class="choose_section">Causes of Potato Blight: </h2>
            <div class="choose_section_2 layout_padding">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-1.png') }}"></div>
                     <h2 class="farm_text">Cause ?</h2>
                     <p class="dummy_text">It's caused by a fungus called Phytophthora Infestans</p>
                  </div>
                  <div class="col-sm-3">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-2.png') }}"></div>
                     <h2 class="farm_text">What's affected ?</h2>
                     <p class="dummy_text">The fungus affects members of the potato family, including tomatoes, peppers and aubergines.</p>
                  </div>
                  <div class="col-sm-3">
                    <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-3.png') }}"></div>
                    <h2 class="farm_text">How ?</h2>
                    <p class="dummy_text">It spreads through the air, developing when the weather conditions are warm and humid.</p>
                 </div>
                 <div class="col-sm-3">
                    <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-3.png') }}"></div>
                    <h2 class="farm_text">When ?</h2>
                    <p class="dummy_text">Periods of warm, humid weather increases the risk of potato blight.</p>
                 </div>
               </div>
            </div>
            
            <br>
            <h2 class="choose_section">Symptoms of Potato Blight: </h2>
            <div class="choose_section_2 layout_padding">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-1.png') }}"></div>
                     <h2 class="farm_text">Cause ?</h2>
                     <p class="dummy_text">Brown freckles or patches on the potato leaves.</p>
                  </div>
                  <div class="col-sm-4">
                     <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-2.png') }}"></div>
                     <h2 class="farm_text">What's affected ?</h2>
                     <p class="dummy_text">Yellowish border spreading from the brown patches.</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="icon_1"><img src="{{ url_for('static', filename='images/icon-3.png') }}"></div>
                    <h2 class="farm_text">How ?</h2>
                    <p class="dummy_text">The potatoes will turn soggy and excrete a foul-smell.</p>
                 </div>
                 
               </div>
            </div>
            
            
         </div>
      </div>
      <!-- choose section end -->
      <!-- footer section start --> 
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">About</h2>
                  <p class="ipsum_text">Our company aims to establish a sustainable solution to help farmers prevent diseases from their crops</p>
               </div>
              <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Blog & Recommendations</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="diseases.html">Disease</a></li>
                        <li><a href="prevention.html">Prevention</a></li>
                        <li><a href="treatment.html">treatment</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Our Product</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="predict.html">Disease classification</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">contact us</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="{{ url_for('static', filename='images/map-icon.png') }}"><span class="padding_left_10">There are many vari</span></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='images/call-icon.png') }}"><span class="padding_left_10">+01 1234567890</span></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='images/mail-icon.png') }}"><span class="padding_left_10">demo@gmail.com</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->  
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2022 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
         </div>
      </div>
      <!-- copyright section end -->    
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      <script src="{{ url_for('static', filename='https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js') }}"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
            });
            
      </script>
   </body>
</html>